@{
    ViewBag.Title = "New Person";
}

<section class="container mx-auto max-w-96 sm:max-w-[600px]">
    <div class="flex items-center gap-2">
        <a href="~/people/" class="flex h-8 w-8 items-center justify-center rounded-full hover:bg-gray-200">
            <i class="fa-solid fa-angle-left"></i>
        </a>
        <h2 class="font-quicksand text-xl font-bold not-[370px]:text-lg">Create new person</h2>
    </div>

    <section class="mt-4">
        <form action="~/people/new-person" method="post" class="flex flex-col gap-10">
            @* PersonName field *@
            <div>
                <label for="PersonName" class="text-sm font-semibold text-error">
                    * First name
                </label>
                <div class="relative flex min-w-50 items-center rounded-sm border-gray-200 border-[1px] bg-gray-200 px-1 py-[15px]">
                    <input type="text" id="PersonName" name="PersonName" placeholder="Jhon" class="absolute w-full focus:outline-none"/>
                </div>
            </div>

            @* PersonEmail field *@
            <div>
                <label for="PersonEmail" class="text-sm font-semibold text-error">
                    * Your email
                </label>
                <div class="relative flex min-w-50 items-center rounded-sm border-gray-200 border-[1px] bg-gray-200 px-1 py-[15px]">
                    <input type="text" id="PersonEmail" name="PersonEmail" placeholder="email@example.com" class="absolute w-full focus:outline-none"/>
                </div>
            </div>

            @* DateOfBirth field *@
            <div>
                <label for="DateOfBirth" class="text-sm font-semibold">
                    Date Of birth
                </label>
                <div>
                    <input type="date" id="DateOfBirth" name="DateOfBirth" min="1900-01-01" value="@DateTime.Now.ToString("2000-01-01")" class="block w-full rounded-sm border-gray-200 border-[1px] bg-gray-200 p-1 text-sm outline-none not-sm:min-w-50" />
                </div>
            </div>

            @* Gender field *@
            <div class="flex flex-col items-center justify-center text-center">
                <label for="Gender" class="text-sm font-semibold">
                    Choose your gender
                </label>
                <div class="flex gap-5">
                    @foreach (KeyValuePair<string, string> gender in ViewBag.Genders)
                    {
                        <div>
                            <input type="radio" id="@gender.Key" name="Gender" value="@gender.Key" @(gender.Value == "Other" ? "checked" : "") />
                            <label for="@gender.Key">@gender.Value</label>
                        </div>
                    }
                </div>
            </div>

            @* Country field *@
            <div>
                <label for="CountryId" class="text-sm font-semibold">
                    Country
                </label>
                <div>
                    <select name="CountryId" id="CountryId" class="block w-full rounded-sm border-gray-200 border-[1px] bg-gray-200 p-1 text-sm outline-none not-sm:min-w-50">
                        @foreach (CountryResponse country in ViewBag.Countries)
                        {
                            <option value="@country.CountryId">@country.CountryName</option>
                        }
                    </select>
                </div>
            </div>

            @* Address field *@
            <div>
                <label for="Address" class="text-sm font-semibold">
                    Address
                </label>
                <div class="relative flex min-h-20 min-w-50 items-center rounded-sm border-gray-200 border-[1px] bg-gray-200 px-2">
                    <textarea type="text" id="Address" name="Address" class="absolute h-full w-full resize-none py-2 focus:outline-none"></textarea>
                </div>
            </div>

            @* IsReceivingNewsLetters field *@
            <div class="flex items-center gap-2">
                <div>
                    <input type="checkbox" id="IsReceivingNewsLetters" name="IsReceivingNewsLetters" checked value="true" />
                </div>
                <label for="IsReceivingNewsLetters">
                    Subscribe to Newsletter?
                </label>
            </div>

            <div class="block w-20 cursor-pointer rounded-sm border-[1px] border-[#43A490] px-2 py-1 font-medium text-[#43A490] not-[370px]:text-sm hover:bg-[#43A490] hover:text-white">
                <button type="submit" class="h-full w-full cursor-pointer">Create</button>
            </div>
        </form>

        @if (ViewBag.Errors != null)
        {
            @section Scripts {
                <script>
                    toastr.error('@ViewBag.Errors[0]')
                </script>
            }
        }
    </section>
</section>