@model IEnumerable<PersonResponse>

@{
    ViewBag.Title = "People";
}

<h1>People</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Email</th>
            <th>Date of Birth</th>
            <th>Country</th>
            <th>Address</th>
            <th>Receive Newsletter</th>
        </tr>
    </thead>
    <tbody>
        @foreach (PersonResponse person in Model)
        {
           <tr>
                <td>@person.PersonName</td>
                <td>@person.Age</td>
                <td>@person.Gender</td>
                <td>@person.PersonEmail</td>
                <td>@person.DateOfBirth?.ToString("dd - MMMM - yyyy")</td>
                <td>@person.CountryName</td>
                <td>@person.Address</td>
                <td>@(person.IsReceivingNewsLetters ? "Yes" : "No")</td>
           </tr> 
        }
    </tbody>
</table>